@import '../../stylesheets/variables';
@import '../About/index.scoped.scss';

@mixin project-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

@mixin project-header($position) {
  text-transform: capitalize;
  color: $vblack;
  font-size: 27px;
  font-weight: bold;
  width: 14em;
  text-align: $position;
  margin-bottom: 1em;
  line-height: 1.5;
  @include titleFontFamily;
}

.projects {
  margin-top: 10vh;
  @include centerContent(column);

  .container:hover .content-left, .container:hover .content-right {
    @include transition(0.5s);
    transform: scale(1.1);
  }

  // .project-content-container:hover + .content-left {
  //   @include transition(0.5s);
  //   transform: scale(1.1);
  // }

  .header {
    @include header;
  }
  
  .content-right {
    @include transition(0.5s);
    margin-left: 15vw;
  }

  .content-left {
    @include transition(0.5s);
    margin-right: 25vw;
  }

  .project-content-container {
    cursor: pointer;

    .project-content {
      @include project-content;
  
      .label {
        // margin-left: 1.7em;
        display: inline;
        text-transform: uppercase;
        color: #b6b6b6;
        font-size: 14px;
      }
    }
  }

  .project-header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 2em;
    @include transition;

    .description-container {
      display: flex;

      .description {
        color: white;
        font-size: 12px;
        background-color: rgb(168, 168, 168);
        padding: 0.1em 0.5em;
        margin-top: 0.5em;

        @include centerContent;

        span {
          margin: 0 0.3em;
          line-height: 12px;
          font-size: 18px;
          color: $gray;
          font-weight: bold;
        }
      }
    }

    .description-item {
      // text-transform: uppercase;
      // position: relative;
      // list-style-type: none;
      font-size: 15px;
      line-height: 1.5;
      font-weight: 300;
      color: rgb(63, 63, 63);

      // &::before {
      //     content: '■';
      //     position: absolute;
      //     bottom: 1px;
      //     left: -1em;          /* Adjust this value so that it appears where you want. */
      //     font-size: 1.1em;      /* Adjust this value so that it appears what size you want. */
      // }
    }

    // .description {
    //   font-size: 14px;
    //   color: $font-gray;
    // }

    .project-header-left {
      @include project-header(left);
    }

    .project-header-right {
      @include project-header(right);
    }
  }

  .button-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: $primary1;
  }
}