@import '../../ProjectDetail/index.scoped.scss';

.break-section {
  @include centerContent(column);
  @include textFont;
  padding: 4em 0 1em;
  margin-bottom: 1em;
  width: 100%;
  height: fit-content;

  .header {
    @include textFont;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: #616475;
    margin-bottom: 1em;
  }

  p {
    text-align: center;
    width: 60%;
    margin-bottom: 2em;
    font-family: 'PT Serif', serif;
    
    color: #323649;
    font-size: 27px;
    line-height: 50px;
    font-style: italic;
  }
}