@import '../Navigation/index.scss';
@import '../../stylesheets/variables';

.landing {
  position: relative;

  .header {
    @include centerContent(column);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    margin-top: 15vh;
    height: 53vh;

    .sub-header {
      color: $dark-gray;
      font-size: 0.8em;
      margin-top: 0.5em;
    } 
  }
}