@import '../Navigation/index.scoped.scss';
@import '../../stylesheets/variables';

.landing {
  position: relative;

  .landing-header {
    @include centerContent(column);
    // font-family: 'Montserrat', sans-serif;
    margin-top: 15vh;
    height: 45vh;
    // font-weight: bold;
    font-weight: 300;

    .sub-header {
      color: $font-gray;
      width: 33em;
      line-height: 1.5;
      font-weight: normal;
      margin-top: 0.5em;

      .design {
        // border-bottom: 1px solid $primary1;
        background-color: $primary1;
        color: $primary2;
      }

      .develop {
        // border-bottom: 1px solid $primary2;
        background-color: $primary2;
        color: $primary1;
      }
    } 
  }
}