@import '../../stylesheets/variables';
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .name {
    margin-top: 2em;
    margin-left: 2em;
    @include navigation;
  
    .name-link {
      @include link;
      width: fit-content;
      background-color: rgba(255, 255, 255, 0.7);
      @include transition;
  
      &:hover, .name-active {
        color: $primary1;
        cursor: pointer;
      }
    }
  }

  .nav {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 2em;
    margin-right: 2em;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include navigation;

    .link {
      @include transition;
      @include link;

      &:hover {
        color: white;
        // width: 80px;
        background-color: $primary1;
      }
    }

    .active {
      color: white;
      background-color: $primary1;
    }
  }
}


