@import '../../stylesheets/variables';

@mixin link {
  text-decoration: none;
  color: $dark-gray;
  font-size: 14px;
  padding: 0.5em 1em;
  width: 80px;

  cursor: pointer;
}

.container {
  position: fixed;
  top: 0;
  transition: top 0.6s;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .name {
    margin-top: 2em;
    margin-left: 6em;

    .name-link {
      @include link;
      &:hover, .name-active {
        color: $primary1;
        cursor: pointer;
      }
    }
  }

  .nav {
    margin-top: 2em;
    margin-right: 6em;
    display: flex;

    .link {
      @include transition;
      @include link;

      &:hover {
        color: white;
        width: 80px;
        background-color: $primary1;
      }
    }

    .active {
      color: white;
      background-color: $primary1;
    }
  }
}


