@import '../../stylesheets/variables';

@mixin link {
  text-decoration: none;
  color: $dark-gray;
  font-size: 14px;
  padding: 1em 1em;
  width: 80px;
  display: flex;
  justify-content: flex-start;

  cursor: pointer;
}

@mixin navigation {
  position: fixed;
  top: 0;
  transition: top 0.6s;
  z-index: 2;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .name {
    margin-top: 2em;
    margin-left: 2em;
    @include navigation;

    .name-link {
      @include link;
      width: fit-content;
      background-color: rgba(255, 255, 255, 0.7);
      @include transition;
  
      &:hover, .name-active {
        color: $primary1;
        cursor: pointer;
        // text-shadow: 1px 1px rgba($primary1, 0.5);
      }
    }
  }

  .nav {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 2em;
    margin-right: 2em;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include navigation;

    .link {
      @include transition;
      @include link;

      &:hover {
        color: white;
        width: 80px;
        background-color: $primary1;
      }
    }

    .active {
      color: white;
      background-color: $primary1;
    }
  }
}


