$primary1: #E06C62;
$primary2: #F8D9AE;
$vwhite: #fafafa; /* visual white, mainly for view background */
$vblack: #333333; /* visual white */
$font-gray: #626262; 
$light-gray: #EAEAEA;
$gray: #C7C7C7;
$dark-gray: #777777;
$brown: #976662;

@mixin transition {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@mixin centerContent ($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin rotate ($degrees: -90deg) {
  transform: rotate($degrees);
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
}

@mixin fade-in {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: .5s;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@mixin fade-out {
  animation-name: fade-out;
  animation-fill-mode: both;
  animation-duration: .5s;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@mixin header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5em;
  font-family: 'Montserrat', sans-serif;
}