$primary1: #E06C62;
$primary2: #F8D9AE;
$vwhite: #F7F7F7; /* visual white, mainly for view background */
$vblack: #333333; /* visual white */
$font-gray: #626262; 
$light-gray: #EAEAEA;
$gray: #C7C7C7;
$dark-gray: #777777;

@mixin transition {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@mixin centerContent ($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}