@import '../../stylesheets/variables';

.contact {
  margin-top: 30vh;
  padding-top: 10vh;
  // @include centerContent(column);

  .header {
    margin-bottom: 1em;
  }

  .input-fields-container {
    padding-left: 25vw;
  }

  label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;

    margin-top: 2em;
    font-size: 1.2em;
    font-weight: bold;
    color: $primary1;
    @include transition;

    .label {
      width: 12vw;
      text-align: end;
    }

    .text-input {
      border: none;
      @include textFontFamily;
      padding: 0 0.3em;
      border-bottom: 2px solid $primary1;
      color: $vblack;
      font-weight: 300;
      display: flex;
      align-items: center;
      font-size: 1.5em;
      width: 28vw;
      // min-width: 8em;
      @include transition;

      &:focus, &:hover {
        outline: none;
        border-bottom: 2px solid rgba($primary1, 0.6);
      }
    }

    &:hover, &:focus-within {
      color: rgba($primary1, 0.6);
    }
  }

  .submit-button {
    font-size: 1.5em;

    margin-top: 2em;
    border: none;
    background-color: transparent;
    color: $primary1;
    font-weight: bold;
    height: 3em;
    width: 5em;
    border-radius: 100px;
    outline: none !important;

    @include transition;
    cursor: pointer;

    &:hover {
      background-color: $primary1;
      color: white;
    }
  }
}