@import '../../../stylesheets/variables';
@import '../index.scss';

.core-platform-main {
  // @include centerContent(column);
  overflow: hidden;
  #pinContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .panel {
      height: 100vh;
      width: 100vw;
      position: absolute;
      @include centerContent(column);

      span {
        position: relative;
        display: block;
        top: 50%;
        font-size: 80px;
      }

      img {
        margin-top: 2em;
        box-shadow: 0 2px 20px 0 rgba(45, 50, 58, 0.5);

      }

      &.original {
        background-color: rgba(#d68956, 0.5);
      }

      &.push {
        background-color: #252525;
      }

      .design-type {
        font-family: 'Montserrat', sans-serif;

        @include centerContent;
        margin-top: 2em;
        margin-bottom: 0.8em;
        color: rgba(70, 64, 64, 0.8);
        font-size: 20px;
        font-weight: bold;
        width: 100%;
      }

      .evaluation {
        display: grid;
        grid-template-columns: 1fr 1fr;

        width: 45em;
        height: fit-content;
        padding: 0.5em 0;
        border-radius: 6px;

        background-color: rgba(70, 64, 64, 0.7);
        color: white;
        height: fit-content;

        ul {
          list-style-type: none;
          font-family: 'Montserrat', sans-serif;
          font-size: 13px;

          li {
            line-height: 1.5em;
          }

          li::before {
            margin-right: 1em;
            font-size: 20px;
            font-weight: bold;
            color: #dbb094;
          }

          &.pro li::before {
            content: '+';
          }

          &.con li::before {
            content: '-';
          }
        }
      }
    }
  }
}