@import '../../../stylesheets/variables';
@import '../index.scss';

.core-platform-main {
  // @include centerContent(column);
  overflow: hidden;
  #pinContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .panel {
      height: 100vh;
      width: 100vw;
      position: absolute;
      text-align: center;
      @include centerContent;

      span {
        position: relative;
        display: block;
        top: 50%;
        font-size: 80px;
      }

      &.original {
        background-color: rgba(#e7a376, 1);
      }

      &.push {
        background-color: #252525;
      }

      &.blue {
        background-color: #3883d8;
      }

      &.turqoise {
        background-color: #38ced7;
      }

      &.green {
        background-color: #22d659;
      }

      &.bordeaux {
        background-color: #953543;
      }
    }
  }
}