@import '../../stylesheets/variables';

@mixin titleFont {
  // font-family: 'Merriweather', serif;
  font-family: 'PT Serif', serif;
  color: #323649;
}

@mixin textFont {
  // font-family: 'Alegreya Sans', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;

  font-size: 18px;
  letter-spacing: 1px;
  line-height: 2;
  font-weight: 400;
  color: #191a1f93;
}

@mixin importantFont {
  font-family: 'PT Serif', serif;
  // font-weight: bold;
  color: #26282e;
  font-size: 16px;
  line-height: 1.5;
  // font-weight: bold;
  // letter-spacing: 0.05em;
}

@mixin indentFont {
  font-family: 'PT Serif', serif;
}

@mixin descriptionBox {
  border-radius: 6px;
  padding: 1em 1em 0;
  box-sizing: border-box;
  height: fit-content;
}

@mixin descriptionList {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  position: relative;
  margin-top: 0.2em;
  padding-left: 2em;
  // margin-bottom: 0;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;

  &.narrow-contianer {
    // padding-right: 20%;
    // padding-left: 20%;
    padding: 18% 22%;
  }

  > {
    ul {
      // list-style-type: circle;
      list-style-position: inside;
      margin-left: 0;
      padding-left: 0;
      list-style-position: outside;
      margin-left: 1em;

      li {
        @include textFont;
        // width: 80%;
        line-height: 1.5;
        margin-left: 2em;
        margin-bottom: 1em;
      }
    }
  }
}

.indent-container {
  padding: 1.5em 6em 1.5em 4em;
  background-color: $vwhite;
  margin-bottom: 0.5em;
  @include importantFont;

  &.indent-image {
    padding: 1.5em 0;
    @include centerContent;
  }

  .indented-list {
    list-style-type: none;
    position: relative;

    li {
      margin-bottom: 1em;

      &::before {
        position: absolute;
        left: 0;
        color: $dark-gray;
        font-weight: bold;
      }
    }
  }
  ul.indented-list {
    li::before {
      content: '>';
    }
  }

  ol.indented-list {
    counter-reset: indented-list-counter;

    li {
      counter-increment: indented-list-counter;

      &::before {
        content: counter(indented-list-counter);
      }
    }
  }
}

.two-col-container {
  display: grid;
  grid-template-columns: 50% 25%;
  column-gap: 25%;

  .sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section-header {
      @include titleFont;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      color: black;
    }
    
    p {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.05em;
      color: #616475;

      a {
        display: block;
        text-decoration: none;
        color: #616475;
        cursor: pointer;
      }
    }
  }
}

h1 {
  @include titleFont;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  width: 11em;
  line-height: 1.5;
  color: $primary1;
  padding: 1em 0;
}

h2 {
  @include titleFont;
  font-size: 35px;
  // color: $primary1;
  font-weight: bold;
  // text-transform: uppercase;
  padding-bottom: 1em;
  padding-top: 0.5em;
  counter-reset: h3-counter;
}

h3 {
  counter-increment: h3-counter;
  @include titleFont;
  // font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 0.05em;
  // font-style: italic;
  margin-top: 2em;
  color: black;
  font-weight: bold;
  // text-transform: uppercase;
  font-size: 20px;
  color: $primary1;

  &::before {
    @include titleFont;
    color: $primary1;
    content: counter(h3-counter);
    width: 1em;
    display: inline-block;
    margin-right: 1em;
  }
}

p, div {
  @include textFont;
}

p {
  margin-bottom: 2em;
}

.divider {
  height: 20vh;
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.break-block {
  @include centerContent(column);
  padding: 15vh 0;
  width: 100vw;
  background-color: #141414;
}

.caption {
  @include textFont;
  font-weight: normal;
  font-size: 14px;
  color: #919191;
  text-align: center;
}

.small-indent {
  margin-bottom: 3em;
}